body,
html {
  height: 100%;
}
.bg {
  background-image: url("./turner-36_s1-Full-Image_GalleryBackground-en-US-1557356293721._SX1080_.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstNumVersion1 {
  resize: none;
  font-weight: bolder;
  font-size: 100pt;
  position: absolute;
  left: 5.9%;
  top: 0.9%;
}

.secNumVersion1 {
  resize: none;
  font-weight: bolder;
  font-size: 100pt;
  position: absolute;
  left: 16.8%;
  top: 34%;
}

.result1 {
  resize: none;
  font-weight: bolder;
  font-size: 100pt;
  position: absolute;
  left: 0.5%;
  top: 67%;
}

.firstNumVersion2 {
  resize: none;
  font-weight: bolder;
  font-size: 60pt;
  position: absolute;
  left: 32.9%;
  top: 0.9%;
}

.secNumVersion2 {
  resize: none;
  font-weight: bolder;
  font-size: 60pt;
  position: absolute;
  left: 36.2%;
  top: 21%;
}

.semiResult1 {
  resize: none;
  font-weight: bolder;
  font-size: 60pt;
  position: absolute;
  left: 29.65%;
  top: 41%;
}

.semiResult2 {
  resize: none;
  font-weight: bolder;
  font-size: 60pt;
  position: absolute;
  left: 26.25%;
  top: 61%;
}

.result2 {
  resize: none;
  font-weight: bolder;
  font-size: 60pt;
  position: absolute;
  left: 26.25%;
  top: 81%;
}

.button1 {
  background-color: blue;
  color: white;
  border-radius: 6px;
  padding: 2px;
  font-size: smaller;
  position: absolute;
  top: 61%;
  left: 1.5%;
}

.button2 {
  background-color: blue;
  color: white;
  border-radius: 6px;
  padding: 2px;
  font-size: smaller;
  position: absolute;
  top: 90%;
  left: 45%;
}

.sign1 {
  font-weight: bolder;
  font-size: 100pt;
  position: absolute;
  top: 35%;
  left: 3%;
  display: table-cell;
}

.sign2 {
  font-weight: bolder;
  font-size: 80pt;
  position: absolute;
  top: 18%;
  left: 30%;
  display: table-cell;
}

.sign3 {
  font-weight: bolder;
  font-size: 60pt;
  position: absolute;
  top: 62%;
  left: 40.6%;
  display: table-cell;
}

a:link {
  color: red;
  text-decoration: none;
  font-weight: bolder;
  font-size: small;
}

a:visited {
  color: red;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:active {
  color: red;
  text-decoration: none;
}
